/* Front page   */
div.front {
    background-color:black;
    color:white;
}

/* about me */
div.aboutMe {
    background-color:rgb(108, 108, 138);
    color:white;
}


/* Project Page style   */
h5.project {
    color:blue;
}
p.project {
    color:#339966;
}

/* Education Page style   */
h2.education{
    color:white;
}
h4.education{
    color:white;
}
h5.education {
    color:white;
}
h6.education{
    color:white;
}
p.education {
    color:white;
}





/*  Skills Page style */
h4.skills {
    color:yellow;
}
p.skills {
    color:orange;
}
